In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("titanic_prepared.csv")

In [3]:
#Convert float values to integer
cols = ['survived', 'age', 'fare', 'FamilySize']
for col in cols:
   df[col] = df[col].apply(lambda x: int(x) if x == x else "")

In [4]:
df.head()

,survived,sex,age,fare,pclass_1.0,pclass_2.0,pclass_3.0,embarked_C,embarked_Q,embarked_S,FamilySize
0,1,0,29,211,1,0,0,0,0,1,1
1,1,1,0,151,1,0,0,0,0,1,4
2,0,0,2,151,1,0,0,0,0,1,4
3,0,1,30,151,1,0,0,0,0,1,4
4,0,0,25,151,1,0,0,0,0,1,4

In [5]:
x = df.iloc[:,1:].values
y = df.iloc[:,[0]].values

In [6]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.33, random_state=0 )

In [10]:
n_test = [[1,21,200,1,0,0,0,0,1,1]]

In [8]:
clf = RandomForestClassifier(n_estimators =1000)
clf.fit(x_train,y_train)

C:\Users\karan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [11]:
y_pred = clf.predict(n_test)
print (y_pred)

[0]